<div class="card-bodyInner">
	<!--/***** Body menu section start here *************/-->
	<div Class="innerHeading">
		Companies
	</div>
	<div class="menuSect">
		<div Class="menuLast">
			<div class="menuRightDiv" >
				<img src="assets/images/addIcon.png" class="addIconClass addCategryPop">
			</div>
			<div class="menuDivText addCategryPop">
				Copy Company
			</div>
		</div>
		<div Class="menuSecond">
			<div class="menuRightDiv" >
				<img src="assets/images/addIcon.png" class="addIconClass addCategryPop">
			</div>
			<div class="menuDivText addCategryPop">
				Add Company
			</div>
		</div>
		<div Class="menuFirst">
			<ul>
				<li><a href="companies.html">Companies</a></li>
				<li><a href="category.html">Categories</a></li>
				<li><a href="users.html">Users</a></li>
			</ul>
		</div>
	</div>
	<div class="menuSect1">
		<img src="assets/images/leftIcon.png" class="leftMenuPanel1"/>
	</div>
	<div class="smallMenu">
		<ul class="dropdown-menu dropdown-menu-end" style="display:block; width:100%;" id="rightMenu">
			<li><a href="companies.html">Companies</a></li>
			<li><a href="category.html">Categories</a></li>
			<li><a href="users.html">Users</a></li>
			<li><a href="#" class="addCategryPop">Copy Company</a></li>
			<li><a href="#" class="addCategryPop">Add Company</a></li>
		</ul>
	</div>
	<!--/***** Body menu section End here *************/--> 
	<!--/***** Body Table Data section start here *************/-->
	<div  class="tableWrapper">
		<table class="tableClass" width="0" cellpadding="0" cellspacing="0" id="tableData">
			<thead>
				<tr>
					<th>Companies</th>
					<th>Time Zone</th>
					<th width="20%">IP Subnet</th>
					<th>Saving Time?</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td valign="top">Company 1</td>
					<td valign="top">
						<select class="timezoneDropdown">
							<option value="America">America</option>
							<option value="London">London</option>
							<option value="City 1">City 1</option>
							<option value="City 2">City 2</option>
						</select>
					</td>
					<td valign="top">
						<div class="criteraDivImg">
							<img src="assets/images/add.png" title="Add" width="32" class="addImg"/>
						</div>
						<div class="IPDiv"><span>192.168.1.1</span> </div>
						<div class="queryImg">
							<img src="assets/images/query.png" title="query" width="32"/>
						</div>
					</td>
					<td valign="top">
						<div class="savingTimeLeft">
							<img src="assets/images/tick.png" width="22" class="savingTimeImg"/>
						</div>
						<div class="savingTimeRight">
							<img src="assets/images/cancel.png" width="20" class="savingTimeImg"/>
						</div>
					</td>
					<td valign="top">
						<a href="#" class="deleteClass">Delete</a>
						<br/>
						<a href="#" class="EditCriteriaClass addImg">Edit</a>
					</td>
				</tr>
				<tr>
					<td colspan="5"  class="transparentTR"></td>
				</tr>
				<tr>
					<td valign="top">Company 2</td>
					<td valign="top">
						<select class="timezoneDropdown">
							<option value="America">America</option>
							<option value="London">London</option>
							<option value="City 1">City 1</option>
							<option value="City 2">City 2</option>
						</select>
					</td>
					<td valign="top">
						<div class="criteraDivImg">
							<img src="assets/images/add.png" title="Add" width="32" class="addImg"/>
						</div>
						<div class="IPDiv"><span>192.168.1.1</span> </div>
						<div class="queryImg">
							<img src="assets/images/query.png" title="query" width="32"/>
						</div>
					</td>
					<td valign="top">
						<div class="savingTimeLeft">
							<img src="assets/images/tick.png" width="22" class="savingTimeImg"/>
						</div>
						<div class="savingTimeRight">
							<img src="assets/images/cancel.png" width="20" class="savingTimeImg"/>
						</div>
					</td>
					<td valign="top">
						<a href="#" class="deleteClass">Delete</a>
						<br/>
						<a href="#" class="EditCriteriaClass addImg">Edit</a>
					</td>
				</tr>
				<tr>
					<td colspan="5"  class="transparentTR"></td>
				</tr>
				<tr>
					<td valign="top">Company 3</td>
					<td valign="top">
						<select class="timezoneDropdown">
							<option value="America">America</option>
							<option value="London">London</option>
							<option value="City 1">City 1</option>
							<option value="City 2">City 2</option>
						</select>
					</td>
					<td valign="top">
						<div class="criteraDivImg">
							<img src="assets/images/add.png" title="Add" width="32" class="addImg"/>
						</div>
						<div class="IPDiv"><span>192.168.1.1</span> </div>
						<div class="queryImg">
							<img src="assets/images/query.png" title="query" width="32"/>
						</div>
					</td>
					<td valign="top">
						<div class="savingTimeLeft">
							<img src="assets/images/tick.png" width="22" class="savingTimeImg"/>
						</div>
						<div class="savingTimeRight">
							<img src="assets/images/cancel.png" width="20" class="savingTimeImg"/>
						</div>
					</td>
					<td valign="top">
						<a href="#" class="deleteClass">Delete</a>
						<br/>
						<a href="#" class="EditCriteriaClass addImg">Edit</a>
					</td>
				</tr>
				<tr>
					<td colspan="5"  class="transparentTR"></td>
				</tr>
				<tr>
					<td valign="top">Company 4</td>
					<td valign="top">
						<select class="timezoneDropdown">
							<option value="America">America</option>
							<option value="London">London</option>
							<option value="City 1">City 1</option>
							<option value="City 2">City 2</option>
						</select>
					</td>
					<td valign="top">
						<div class="criteraDivImg">
							<img src="assets/images/add.png" title="Add" width="32" class="addImg"/>
						</div>
						<div class="IPDiv"><span>192.168.1.1</span> </div>
						<div class="queryImg">
							<img src="assets/images/query.png" title="query" width="32"/>
						</div>
					</td>
					<td valign="top">
						<div class="savingTimeLeft">
							<img src="assets/images/tick.png" width="22" class="savingTimeImg"/>
						</div>
						<div class="savingTimeRight">
							<img src="assets/images/cancel.png" width="20" class="savingTimeImg"/>
						</div>
					</td>
					<td valign="top">
						<a href="#" class="deleteClass">Delete</a>
						<br/>
						<a href="#" class="EditCriteriaClass addImg">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--/***** Body Table Data section End here *************/-->
</div>