<div class="card-bodyInner">
	<!--/***** Body menu section start here *************/-->
	<div Class="innerHeading">
		Companies
	</div>
	<div class="menuSect">
		<div Class="menuLast" (click)="beginAddCompany(addCompany)">
			<div class="menuRightDiv" >
				<img src="assets/images/addIcon.png" class="addIconClass addCategryPop">
			</div>
			<div class="menuDivText addCategryPop">
				Copy Company
			</div>
		</div>
		<div Class="menuSecond" (click)="beginAddCompany(addCompany)">
			<div class="menuRightDiv" >
				<img src="assets/images/addIcon.png" class="addIconClass addCategryPop">
			</div>
			<div class="menuDivText addCategryPop">
				Add Company
			</div>
		</div>
		<div Class="menuFirst">
			<ul>
				<li><a [routerLink]="['/company']" class="font-weight-bold">Companies</a></li>
				<li><a [routerLink]="['/category']">Categories</a></li>
				<li><a [routerLink]="['/user']">Users</a></li>
			</ul>
		</div>
	</div>
	<div class="menuSect1">
		<img src="assets/images/leftIcon.png" class="leftMenuPanel1"/>
	</div>
	<div class="smallMenu">
		<ul class="dropdown-menu dropdown-menu-end" style="display:block; width:100%;" id="rightMenu">
			<li><a href="companies.html">Companies</a></li>
			<li><a href="category.html">Categories</a></li>
			<li><a href="users.html">Users</a></li>
			<li><a href="#" class="addCategryPop">Copy Company</a></li>
			<li><a href="#" class="addCategryPop">Add Company</a></li>
		</ul>
	</div>
	<!--/***** Body menu section End here *************/--> 
	<!--/***** Body Table Data section start here *************/-->
	<div  class="tableWrapper">
		<div class="input-group mb-3 search-grid">
			<input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search by company name" aria-label="Recipient's username" aria-describedby="basic-addon2">
			<div class="input-group-append">
			  <button class="btn btn-outline-secondary" type="button" (click)="refreshCompanies(1)">Search</button>
			</div>
		</div>
		<table class="tableClass" width="0" cellpadding="0" cellspacing="0" id="tableData">
			<thead>
				<tr>
					<th>Companies</th>
					<th>Time Zone</th>
					<th width="20%">IP Subnet</th>
					<th>Saving Time?</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-item [ngForOf]="companies" let-i="index">
					<tr>
						<td valign="top">{{companies[i].name}}</td>
						<td valign="top">
							<select class="timezoneDropdown" [(ngModel)]="companies[i].timezone" (change)="setTimezone(companies[i].companyID, companies[i].timezone)">
								<option [value]="timezone.fullname" *ngFor="let timezone of allTimezones">{{timezone.fullname}}</option>
							</select>
						</td>
						<td valign="top">
							<div class="criteraDivImg">
								<img src="assets/images/add.png" title="Add" width="32" class="addImg"/>
							</div>
							<div class="IPDiv"><span>{{companies[i].ip ? companies[i].ip : 'Not set'}}</span> </div>
							<div class="queryImg">
								<img src="assets/images/query.png" title="query" width="32"/>
							</div>
						</td>
						<td valign="top">
							<label class="switch toggle">
								<input type="checkbox" [(ngModel)]="companies[i].dst" (click)="setDst(companies[i].companyID, companies[i].dst)">
								<span class="slider round"></span>
						  </label>
						</td>
						<td valign="top">
							<a href="javascript:void(0);" class="deleteClass" (click)="delete(companies[i].companyID)">Delete</a>
							<br/>
							<a href="javascript:void(0);" class="EditCriteriaClass addImg" (click)="openModal(editCompany, companies[i])">Edit</a>
						</td>
					</tr>
					<tr>
						<td colspan="5"  class="transparentTR"></td>
					</tr>
				</ng-template>
			</tbody>
		</table>
		<div class="paginateContainer">
			<ul class="paginateList">
				<li class="paginatePrevious {{pagination.isPreviousDisabled ? 'paginateDisabled' : ''}}" (click)="paginatePrevious()">
					<a class="paginateAnchor">&lt;</a>
				</li>
				<li class="paginatePage {{pagination.activeIndex === i ? 'paginateActive' : ''}}" *ngFor="let page of pagination.pages; index as i;" (click)="paginateTo(page)">
				<a class="paginateAnchor">{{page}}</a>
				</li>
				<li class="paginateNext {{pagination.isNextDisabled ? 'paginateDisabled' : ''}}" (click)="paginateNext()">
					<a class="paginateAnchor">&gt;</a>
				</li>
			</ul>
		</div>
	</div>
	<!--/***** Body Table Data section End here *************/-->
</div>
<ng-template #editCompany>
	<div id="dialog">
		<div class="addCategoryPopupBox">
			<form method="post" action="#">
				<p class="formTextNew">
					<label class="star">*</label>Company Name
				</p>
				<input type="text" [(ngModel)]="companyForm.company.name" [ngModelOptions]="{standalone: true}" class="formDropdown"/>
				<p class="formText">Time Zone</p>
				<select class="formDropdown" id="timeZone" name="timeZone" [(ngModel)]="companyForm.company.timezone" [ngModelOptions]="{standalone: true}">
					<option [value]="timezone.fullname" *ngFor="let timezone of allTimezones">{{timezone.fullname}}</option>
				</select>
				<p class="formText">IP Subnet</p>
				<input type="text" [(ngModel)]="companyForm.company.ip" [ngModelOptions]="{standalone: true}" class="formDropdown"/>
				<p class="formText">Observe DayNight Saving Time?</p>
				<input type="checkbox" [(ngModel)]="companyForm.company.dst" [ngModelOptions]="{standalone: true}" class="savingTimeLeft"/>
				<input type="submit" value="Update" class="formButtonClass bg-primary" (click)="submitForm()"/>
			</form>
		</div>
	</div>
</ng-template>
<ng-template #addCompany>
	<!--/**************Add Company Popup Start ************/-->
<div id="dialogCategory">
	<div class="addCategoryPopupBox">
		<p class="popupHeadingCompany">Add A Company (<label class="star">*</label>denotes mendatory fields):</p>
		<form method="post" action="#">
			<p class="formTextNew"><label class="star">*</label>Copy From Company</p>
			<select class="formDropdown" [(ngModel)]="companyForm.copyFromCompanyId" [ngModelOptions]="{standalone: true}">
				<option [value]="0">-- Select --</option>
				<option [value]="company.companyID" *ngFor="let company of companyForm.companyList">{{company.name}}</option>
			</select>
			<p class="formText">Company Name</p>
			<input type="text" [(ngModel)]="companyForm.company.name" [ngModelOptions]="{standalone: true}" class="formDropdown"/>
			<ng-template [ngIf]="companyForm.copyFromCompanyId == 0">
				<p class="formText">IP Subnet</p>
				<input type="text" [(ngModel)]="companyForm.company.ip" [ngModelOptions]="{standalone: true}" class="formDropdown"/>
				<p class="formText">Time Zone</p>
				<select class="formDropdown" id="timeZone" name="timeZone" [(ngModel)]="companyForm.company.timezone" [ngModelOptions]="{standalone: true}">
					<option [value]="timezone.fullname" *ngFor="let timezone of allTimezones">{{timezone.fullname}}</option>
				</select>
			</ng-template>
			<input type="submit" value="Add Company" class="formButtonClass bg-primary" (click)="submitForm()"/>
		</form>
	</div>
</div>
</ng-template>


